:root {
  --tkzt-primary: #ddd6fe;
  --tkzt-primary-dark: #c4b5fd;
}

body {
  --at-apply: font-sans ma-0;
}

html.dark body {
  --at-apply: bg-#131130 c-white;
}

html.dark body {
  color-scheme: dark;
}

html.dark body {
  --tkzt-primary: #a78bfa;
  --tkzt-primary-dark: #c4b5fd;
}

.prose-img {
  --at-apply: important:rounded-lg;
}

p:has(> .prose-img) {
  --at-apply: flex justify-center;
}

.prose-p {
  --at-apply: text-justify tracking-wide;
}