:root {
  --tkzt-primary: #ddd6fe;
  --tkzt-primary-dark: #c4b5fd;
}

body {
  --at-apply: font-sans ma-0;
}

html.dark body {
  --at-apply: bg-#131130 c-white;
}

html.dark body {
  color-scheme: dark;
}

html.dark body {
  --tkzt-primary: #a78bfa;
  --tkzt-primary-dark: #c4b5fd;
}

.prose-img {
  --at-apply: important:rounded-lg;
}

p:has(> .prose-img) {
  --at-apply: flex justify-center;
}

/* Politely copied from https://www.jdeal.cn/ */
.body-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -999999999;
  overflow: hidden;
}

.body-bg:after {
  content: '';
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.b-left::before {
  left: 10%;
  bottom: 10%;
  width: 150px;
  height: 150px;
}

.b-right::before {
  right: 10%;
  top: 8%;
  width: 250px;
  height: 250px;
}

.slider-thumb::before {
  opacity: 0.5;
  position: absolute;
  content: "";
  background: linear-gradient(90deg, var(--tkzt-primary), var(--tkzt-primary-dark));
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 5s linear infinite;
  display: block;
  z-index: -1;
  -webkit-animation: sliderShape 5s linear infinite;
}

@keyframes sliderShape {

  0%,
  100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }

  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }

  50% {
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }

  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}

@media screen and (max-width:960px) {
  .body-bg {
    display: none
  }
}